.header-container {
    width: 100%;
    height: 12vh;
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (width < 776px) {
    .header-container {
        height: 10vh;
    }
}

.directory-title {
    color: #ffffff;
    font-size: 32px;
    font-family: "Roboto";
    font-weight: bold;
    padding-left: 15px;
}

@media (width < 776px) {
    .directory-title {
        font-size: 20px;
    }
}

.header-input-container {
    width: 15vw;
    height: 5vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

@media (width < 776px) {
    .header-input-container {
        width: 22vw;
        height: 3vh;
    }
}

.search-input-text {
    width: 14vw;
    height: 4vh;
    background-color: transparent;
    color: #1f1f1f;
    font-size: 16px;
    font-family: "Roboto";
    border-radius: 3px;
    border: 1px #1f1f1f solid;
    outline: none;
    padding-left: 5px;
}

@media (width < 776px) {
    .search-input-text {
        width: 21vw;
        height: 2.75vh;
        font-size: 12px;
    }
}

.filter-button {
    width: 3vw;
    height: 5vh;
    background-color: #ffffff;
    color: #1f1f1f;
    font-size: 16px;
    font-family: "Roboto";
    padding: 1px;
    cursor: pointer;
    outline: none;
    margin-right: 35px;
}

@media (width < 776px) {
    .filter-button {
        width: 8vw;
        font-size: 12px;
        margin-right: 10px;
    }
}